@page "/"
@using System.Runtime.InteropServices

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* Display current dotnet runtime version *@
<p>Current .NET runtime version: @RuntimeInformation.FrameworkDescription</p>
